body{
    box-sizing: border-box;
}
.ticket{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    
}

.movies{
    width: 100px;
    height:100px;
    margin: 26px;
    border:2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
   height: 45%;
    background: aqua;
    padding: 0%;
    margin: 0%;
}
p{
    padding: 0%;
    height: 55%;
    margin: 0%;
    background-color: brown;
}