.parent{
    background-color: aqua;
    height: 1080px;
    width:300px;
    position:relative;
}
.child{
   
    height: 40px;
    width:300px;
    
}
.child-one{
    /* position:sticky; 
    top:100px; 
     left:39px; */
   background-color: blueviolet;
}
.child-two{
    background-color: chartreuse;
}
.child-three{
    background-color: darkgoldenrod;
}

.child-four{
    background-color: rgb(218, 59, 112);
}
.child-five{
    background-color: rgb(132, 223, 48);
}