.parent{
    background-color: aqua;
    height: 180px;
    width:300px;
    position:relative;
}
.child{
   
    height: 40px;
    width:300px;
    
}
.child-one{
      
    position:absolute;
    /* top:0px; */
 background-color: blueviolet;
}
.child-two{
    background-color: chartreuse;
}
.child-three{
    background-color: darkgoldenrod;
}